body {
    font-family: 'Cabin', sans-serif;
    color: #323232;
}

.search {
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.input {
    width: 100%;
    max-width: 500px;
    border: 2px solid #ececec;
    border-radius: 5px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.gallery {
    display: grid;
    max-width: 850px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
    margin: 15px auto;
    padding: 15px;
}

img {
    width: 100%;
    max-width: 300px;
}

a {
    text-align: center;
}


